.giphy-tooltip {
  position: absolute;
  background: white;
  transform: translate(-50%, -100%);
  padding: 10px;
  border-radius: 2px;
  user-select: none;
}

.giphy-tooltip:after {
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid transparent;
  border-width: 10px;
  transform: translateX(-10px);
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
  border-top-color: #fff;
}
